body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    background: #ffffff;
    color: #000000;
}
button {
  background: #f0f0f0;
  color: #000000;
  border: 1px solid #ccc;
}
@media (prefers-color-scheme: dark) {
  body {
    background: #191919;
    color: #e5e5e5;
  }

  button {
    background: #333;
    color: #fff;
    border: 1px solid #555;
  }

  input {
    background: #484646;
    color: #fff;
    border: 1px solid #555;
  }
}
#x_container{
    text-align: center;
    font-size: 1.3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#y_container{
    text-align: center;
    font-size: 1.3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#submit_container{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: hsl(129, 67%, 24%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: #379a65;
}