body {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3em;
  background: #ffffff;
  color: #000000;
}

p {
  text-indent: 4ch;
  margin-right: 8%;
  margin-left: 7%;
  margin-bottom: 5px;
  line-height: 25px;
}

h2 {
  margin-left: 5%;
}

.center-div {
  text-align: center;
}

.middle-img {
  height: 550px;
  width: 550px;
}

#coordsSystem {
  position: relative;
  display: inline-block;
  /* keeps the coords system only as big as the image */
}

#circumplexImg {
  display: block;
  /* removes weird whitespace */
  max-width: 100%;
  /* optional if responsive */
  pointer-events: none;
  user-select: none;
}

#dot {
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  position: absolute;
  pointer-events: auto;
  /* so dot does not block clicks */
  transform: translate(-50%, -50%);
  /* makes the dot center on click */
}

button {
  background: #f0f0f0;
  color: #000000;
  border: 1px solid #ccc;
}

.red-buttons {
  font-family: "Times New Roman", Times, serif;
  padding: 10px 20px;
  font-size: 1.5em;
  background-color: hsl(0, 67%, 37%);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
}
.red-buttons:hover {
  background-color: #d25a5a;
}
.blue-buttons {
  font-family: "Times New Roman", Times, serif;
  padding: 10px 20px;
  font-size: 1.5em;
  background-color: hsl(226, 71%, 30%);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
}
.blue-buttons:hover {
  background-color: #3e74d7;
}
.green-buttons {
  font-family: "Times New Roman", Times, serif;
  padding: 10px 20px;
  font-size: 1.5em;
  background-color: hsl(129, 67%, 24%);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
}

.green-buttons:hover {
  background-color: #379a65;
}

.text-center {
  text-align: center;
}

#playControlContainer {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #191919;
    color: #e5e5e5;
  }

  button {
    background: #333;
    color: #fff;
    border: 1px solid #555;
  }

  input {
    background: #484646;
    color: #fff;
    border: 1px solid #555;
  }
}
